@use 'globalStyles' as *;
$bg-dark-gradient: linear-gradient(
  to bottom,
  rgba($dark, 0.5),
  rgba($dark, 0.9)
);

.header-img {
  @include margin($h6-font-size);
  position: relative;
  border-radius: $border-radius;
  background: $bg-dark-gradient, url("/assets/images/video.png");
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 30vw 3rem 4rem 4rem;
    h1 {
      @include margin-bottom($h5-font-size);
    }
    p {
      @include margin-bottom($h5-font-size);
      @include text-white;
      font-size: $h5-font-size;
    }

    .btn-play {
      padding-left: $h6-font-size;
      align-self: center;
    }
  }
  .small {
    padding: 13rem 3rem 3rem 3rem;
  }
}
.tag {
  .badge {
    margin: 2px;
    font-style: oblique;
  }
  .badge-warning {
    color: $white;
  }
}
