<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Management</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="sidebar-component">
        <sidebar></sidebar>
    </div>
    <main>
        <button class="btn btn-primary btn-sm" id="side-bar-button">
            <img alt="list-icon" src="/assets/list.svg">
        </button>
        <section id="header-img">
            <div class="header-avatar">
                <img src="/assets/images/avatar.png" alt="avatar">
            </div>
        </section>
        <section class="container-fluid" id="page-management">
            <h4>Creator Name</h4>
            <p>2,024 Following</p>
            <div class="social-group">
                <a href="#" class="icon">
                    <img class="facebook" src="/assets/facebook.svg" alt="Facebook">
                </a>
                <a href="#" class="icon">
                    <img class="instagram" src="/assets/instagram.svg" alt="Instagram">
                </a>
            </div>
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">All shows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Manga</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Manhua</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Manhwa</a>
                </li>
            </ul>
            <div id="app" class="row card-list">
                <div v-for="item in list" class="col-lg-4 col-md-6">
                    <div class="card card-small">
                        <img class="card-img" v-bind:src="'/assets/images/' + item.imgSrc" alt="Card image cap">
                        <img class="card-setting" src="/assets/Group 432.svg" alt="setting">
                        <div class="card-body">
                            <div>
                                <h5 class="card-title text-primary">Thánh Võ Tinh Thần | Chap 35</h5>
                                <p style="text-align: left;">12.374 views | 2 tháng trước</p>
                            </div>
                            <div>
                                <div v-if="item.readAvailable === true" class="badge badge-secondary">Read Avaliable
                                </div>
                                <div class="dotted-group">
                                    <span class="dotted dot-primary"></span>
                                    <span class="dotted dot-secondary"></span>
                                    <span class="dotted dot-success"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>